.header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 90px
}

.header-title{
    width: 50%;

}
.title{
    color: #13B8EC;
}

.btn{
    padding: 16px;
    margin: 5px;
    border: none;
    background-color: orangered;
    color: white;
    border-radius: 5px;

}
.images{
    width: 50%;

}