.header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 90px
}

.header-title{
    width: 50%;

}
.title{
    color: #13B8EC;
}

.btn{
    padding: 16px;
    margin: 5px;
    border: none;
    background-color: rgba(255, 68, 0, 0.623);
    color: white;
    border-radius: 5px;

}
.images{
    width: 50%;
    

}

h2{
    text-align: center;
}
.review-item{
    margin-left: 90px;
    
}

.cart-item{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    text-align: center;
    
}

